configuration {
  modi: "window,run,ssh,drun";
  color-active: "#a0222222, #FFFFFF, #a0222222, #0078d4, #FFFFFF";
  color-normal: "#a0222222, #FFFFFF, #a0222222, #005597, #FFFFFF";
  color-urgent: "#a0222222, #FFFFFF, #a0222222, #77003d, #FFFFFF";
  color-window: "#a0222222, #000000, #000000";
  columns: 1;
  font: "mono 12";
  width: 67;
  line-margin: 0;
  hide-scrollbar: true;
  separator-style: "solid";
}
