configuration {
  modi: "window,run,ssh,drun";
  columns: 1;
  font: "Noto CJK TC 18";
  width: 67;
  line-margin: 2;
  hide-scrollbar: true;
  separator-style: "solid";
  icon-theme: "Numix-Circle";
  show-icons: true;
  location: 0;
  me-select-entry: "MouseSecondary";
  me-accept-entry: "MousePrimary";
}
@import "/usr/share/rofi/themes/Pop-Dark.rasi"
